<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /myapp/

  RewriteRule ^(api|auth)(/.*)?$ index.php [L,QSA]
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>

DirectoryIndex index.html index.php